$button: rgb(221, 0, 62);
$facebook_btn :rgb(72, 98, 157);
$twiterbtn:rgb(46, 171, 218);
$searchbar:rgb(35, 59, 81);
$activelink:rgb(179, 209, 111);
$overlay:rgba(3, 15, 27,0.6);
$overlay2:rgba(3, 15, 27,1);
$fontclo1:rgb(59, 97, 127);
$mainfontcolor:rgb(219, 230, 235);
$font2:rgb(163, 175, 189);
$bg:rgb(3, 13, 23);
$input:hsl(211, 40%, 23%);
$special:rgb(73, 122, 179);
// $font-family:Helvetica Neue", Helvetica, Arial, sans-serif;