<%- include('partials/header.ejs') %>
<section class="banner overlay">
    <form class="searchdiv" action="/show_movie" method="post">
        <!-- <span class="name_movie">movie</span> -->
            <input type="search" name="search" id="" placeholder="search for movie..." min="2" maxlength="35"/>
           <button class="btn-search"><ion-icon name="search"></ion-icon></button>
    </form>

    <div class="swiper-container" >
        <div class="swiper-wrapper">
            <div class="swiper-slide card1">Slide 1</div>
            <div class="swiper-slide card2">Slide 2</div>
            <div class="swiper-slide card3">Slide 3</div>
            <div class="swiper-slide card4">Slide 4</div>
            <div class="swiper-slide card5">Slide 5</div>
            <div class="swiper-slide card6">Slide 6</div>
            <div class="swiper-slide card1">Slide 1</div>
            <div class="swiper-slide card2">Slide 2</div>
            <div class="swiper-slide card3">Slide 3</div>
            <div class="swiper-slide card4">Slide 4</div>
            <div class="swiper-slide card5">Slide 5</div>
            <div class="swiper-slide card6">Slide 6</div>
            <div class="swiper-slide card1">Slide 1</div>
            <div class="swiper-slide card2">Slide 2</div>
            <div class="swiper-slide card3">Slide 3</div>
            <div class="swiper-slide card4">Slide 4</div>
            <div class="swiper-slide card5">Slide 5</div>
            <div class="swiper-slide card6">Slide 6</div>
            <div class="swiper-slide card3">Slide 3</div>
            <div class="swiper-slide card4">Slide 4</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<section class="generes">
    <div class="item in_generes">
        <div class="head">
            <h3>IN GENERES</h3>
            <a href=""><small>view all</small></a>
        </div>
        <ul class="movie_gener">
          
        </ul><br>
        <div class="movie-cat">
            <div class="list-movie">
                
                <!-- <div class="hover-div">
                    <button>read more<ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                </div> -->
            </div>
            <div class="list-movie">
                <!-- <div class="hover-div">
                    <button>read more<ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                </div> -->
            </div>
            <div class="list-movie">
                <div class="hover-div">
                    <button>read more<ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                </div>
            </div>
            <div class="list-movie">
                <div class="hover-div">
                    <button>read more<ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
                </div>
            </div>
        </div>
        <form action="" method="post">
            <button value="one" name="btn1" class="active">1</button>
            <button value="two" name="btn2">2</button>
            <button value="three" name="btn3">3</button>
            <button value="next" name="nxt">next</button>
        </form>
        <h3>IN THEATER</h3>
    </div>
    <div class="item blog-aside">
        <div class="advert">

        </div>
        <h3>sportlight celebrities</h3>
        <div class="celebrities">
            <div class="celeb">
                <div class="img-box">
                    <img src="asset/ronaldo.jpeg" alt="">
                </div>
                <h3>ronaldo</h3>
            </div>
            <div class="celeb">
                <div class="img-box">
                    <img src="/asset/c1.jpeg" alt="">
                </div>
                <h3>philip kens</h3>
            </div>
            <div class="celeb">
                <div class="img-box">
                    <img src="/asset/jenni.jpeg" alt="">
                </div>
                <h3>marcel</h3>
            </div>
            <p>see all celebritities</p>
        </div>
    </div>
    <div class="item youtube">
        <iframe  src="https://www.youtube.com/embed/_OKAwz2MsJs?si=fM6OREcdYHwDXik-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>

<section class="sectionpart2">
    <div class="item item1">
        <h2>LATEST NEWS</h2>
        <h4>Benaughty shall be various other regional casual dating situation on line</h4>
        <p class="year">2 years ago</p>

        <p>
            Benaughty shall be various other regional casual dating situation on line Bens having <br> cell phones and machines, and you can blackberrys. It online dating web site will allow
        </p>
    </div>
    <div class="item span-2-row">
        <img src="/asset/xpost.png" alt="">
    </div>
    <div class="item item3">
        <div class="heads"> 
            <h2 class="more">More news on Gnet</h2>
            <h2 class="seeall"><a href="">SEE ALL MOVIES NEWS</a></h2>
        </div>
        <div class="news_box">
            <div class="news">
                <h5>Benaughty shall be various other regional casual dating <br> situation on line</h5>
                <p>2 years</p>
            </div>
            <div class="news">
                <h5>
                    Ma copine est petite elle cherche votre homme. Mes hommes <br> qui craignent de ne point etre a la hauteur
                </h5>
                <p>2 years</p>
            </div>
            <div class="news">
                <h5>If you value which relationship, I might strongly recommend <br> guidance first</h5>
                <p>2 years </p>
            </div>
            <div class="news" id="action">
                <h5>Maniera funzionano i siti di annunci in coppie? L’abbiamo <br> invocato verso chi li usa</h5>
                <p>2 years</p>
            </div>
        </div>
    </div>
    
</section>

<%- include('partials/footer.ejs') %>